@import "tailwindcss";
@import "maplibre-gl/dist/maplibre-gl.css";

@theme {
  --color-brand-neutral: #F2F2F2;
  --color-brand-black: #242424;
  --color-brand-accent: #F6AD65;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: var(--color-brand-neutral);
  color: var(--color-brand-black);
  font-family: Arial, Helvetica, sans-serif;
}
