@import "tailwindcss";

@theme {
  --color-brand-neutral: #F2F2F2;
  --color-brand-black: #242424;
  --color-brand-accent: #F6AD65;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-brand-neutral);
  color: var(--color-brand-black);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
